.ColorsType{
    background-color: white;
}
.ColorsType__conteiner{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 145px;
}
.ColorsType__color{
    display: flex;
    align-items: center;
}
.ColorsType__color:not(:first-child){
    margin-top: 20px;
}
.ColorsType__color-square{
    width: 70px;
    height: 70px;
    margin-right: 40px;

    border-radius: 4px;
}
.ColorsType__color-title{
    font-weight: bold;
}
.ColorsType__fon{
    display: flex; 
}
.ColorsType__fon:not(:first-child){
    margin-top: 50px;
}
.ColorsType__fons-title{
    max-width: 340px;
}
.ColorsType__fons-teg{
    width: 40px;
    margin-right: 30px;

    text-align: end;
    color: rgba(31, 32, 65, 0.25);
}