.ColorsType
    .ColorsType__conteiner
        .ColorsType__colors
            .ColorsType__color
                .ColorsType__color-square(style="background-color: #1F2041;")
                .ColorsType__color-text
                    .ColorsType__color-title Dark Shade 100% 
                    .ColorsType__color-subtitle #1F2041
            .ColorsType__color
                .ColorsType__color-square(style="background-color:  rgba(31, 32, 65, 0.75);")
                .ColorsType__color-text
                    .ColorsType__color-title Dark Shade 75% 
                    .ColorsType__color-subtitle #1F2041
            .ColorsType__color
                .ColorsType__color-square(style="background-color: rgba(31, 32, 65, 0.5);")
                .ColorsType__color-text
                    .ColorsType__color-title Dark Shade 50%
                    .ColorsType__color-subtitle #1F2041
            .ColorsType__color
                .ColorsType__color-square(style="background-color: rgba(31, 32, 65, 0.25);")
                .ColorsType__color-text
                    .ColorsType__color-title Dark Shade 25%
                    .ColorsType__color-subtitle #1F2041
            .ColorsType__color
                .ColorsType__color-square(style="background-color: rgba(31, 32, 65, 0.05);")
                .ColorsType__color-text
                    .ColorsType__color-title Dark Shade 5% 
                    .ColorsType__color-subtitle #1F2041
            .ColorsType__color
                .ColorsType__color-square(style="background-color: #BC9CFF;")
                .ColorsType__color-text
                    .ColorsType__color-title Purple #BC9CFF
                    .ColorsType__color-subtitle #BC9CFF
            .ColorsType__color
                .ColorsType__color-square(style="background-color: #6FCF97;")
                .ColorsType__color-text
                    .ColorsType__color-title Green #6FCF97 
                    .ColorsType__color-subtitle #6FCF97
        .ColorsType__fons
            .ColorsType__fon
                .ColorsType__fons-teg H1
                h1.ColorsType__fons-title This one is the sub-section or widget title
            .ColorsType__fon
                .ColorsType__fons-teg H2
                h2.ColorsType__fons-title Next one is the item title inside widgets
            .ColorsType__fon
                .ColorsType__fons-teg H3
                h3.ColorsType__fons-title This is a label or CTA text
            .ColorsType__fon
                .ColorsType__fons-teg Body
                .ColorsType__fons-title This is the body text which is used for most of the design, like paragraphs, lists, etc.
