.road
    .road__content
        .road__number № 888
            p.road__numbers-tipe люкс
        .road__price 9 990₽ в сутки
        .road__date
            h3 прибытие
            include ../date/date
        .road__date
            h3 выезд
            include ../date/date
        h3.road__guests-black ГОСТИ
        input(type="text").road__guests


    