include ../../modules/head/head

include ../../modules/header/header
.space
include ../../modules/header_2/header_2
.space
include ../../modules/footer/footer
.space
include ../../modules/footer__2/footer__2