include ../../modules/head/head
include ../../modules/footer/footer
.Sign-in
    .Sign-in__conteiner
        include ../../modules/header/header
        .Sign-in__conteint
            .Sign-in__wrapper
                include ../../modules/enter/enter
    +footer()