.Sign-in{
    width: 100%;
  }
  .Sign-in__conteint{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    background: url('../img/registration-background.png');
  }
  .Sign-in__wrapper{
    margin-top: 172px;
    margin-bottom: 172px;
  }