.paginations
    .pagination-container
        ul.pagination__table.paginationTable.list-group
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
            li.tableItem 
        .output
        .myPages

        
