.header-2
  .header-2__wrapper
    a(href="#").header-2__logo
        img(src="./img/Logo.svg", alt="img")
    nav.header-2__container
      .header-2_menu
        include ../menu/menu
      .header-2__cosmin-negoita 
        a(href="#") Cosmin Negoita 
          .line