.header-2
  .header-2__wrapper
    .header-2__logo
        img(src="./img/Logo.png", alt="img")
    .header-2__container
      .header-2_menu
        include ../menu/menu
      .header-2__cosmin-negoita 
        a Cosmin Negoita 
          .line