.header-2{
    min-width: 600px;
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
.header-2__wrapper{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:800px) {
        justify-content: space-around;

    }
}
.header-2__logo{
    @media(max-width:815px) {       
        display: none;
    }
}
.header-2__container{
    display: flex;
    margin: auto;
    @media(max-width:600px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.header-2_menu{
    width: 558px;
    margin-right: 13px;
    margin-bottom: 2px;
    @media(max-width:800px) {
        width: 80%;
    }
}
.header-2__cosmin-negoita{
    order: 2;
    padding-left: 30px;
    margin-left: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
   
    display: flex;
    align-items: center;
    a{
        display: block;
        width: 135px;
        position: relative; 
        
        color: $gray;
        
        .line{
            display: block;
            background-color: rgba(31, 32, 65, 0.1);
            width: 2px;
            height: 30px;   
            position: absolute;
            top: -7px;
            left: -31px;
        }
    }
    a:hover{
            color: $black;
    }
    @media(max-width:600px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        
        a{
            width: 144px;
            font-size: 18px;
            .line{
                height: 0px;
            }
        }
    }
}