include ../dropdown/dropdown

.dropdown-room-amenities
    .dropdown-room-amenities__container
        p.dropdown-room-amenities__text удобства номера
        img(src="./img/pointer.png", alt="pointer")
    .dropdown-room-amenities_dropdown-conteiner
        +dropdown(['спальни','кровати','ванные комнаты'])