.calendar{
    width: 318px;
    
    
    border: 1px $gray solid;
    border-radius: 4px;


    background-color: white;
}
.calendar__container{
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
}
.calendar__blank{
    display: flex;
    justify-content: space-between;

    margin-bottom: 37px;
}


.calendar__arrow-left{
    cursor: pointer;
}
.calendar__arrow-right{
    transform: rotate(180deg);

    cursor: pointer;
}
.calendar__weekday{
    display: flex;
    justify-content: space-between;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 16px;
    font-weight: bold;
}
.calendar__days{
    display: flex;
    flex-wrap: wrap;
    // padding-left: 9px;
    // padding-right: 9px;

}
.calendar__day{
    width: 39.15px;
    height: 39px;

    vertical-align: middle;
    text-align: center;
    line-height:38px;
    
    z-index: 1;    
    cursor: pointer;
    p{
        z-index: 1;
        width: 39.15px;
        height: 39px;

        vertical-align: middle;
        text-align: center;
        line-height:38px;
    }
}
.calendar__day--not-this-month{
    color: $gray;
}
.calendar__day--selected{
    position: relative;
    p{
        border-radius: 100%;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        z-index: 2;
    }
}
.calendar__day--active{

    background-color: #EBE7FF;

}
.calendar__day--before-left::before{
    content: "";

    position: absolute;
    width: 25px;
    height: 39px;
    right: 15px;


    z-index: -1;
    background-color: #EBE7FF;
}
.calendar__day--before-right::before{
    content: "";

    position: absolute;
    width: 30px;
    height: 39px;
    left: 15px;


    z-index: -1;
    background-color: #EBE7FF;
}
.calendar__day--now p{

    border-radius: 100%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    z-index: 2;
}




.calendar__buttons{
    display: flex;
    justify-content: space-between;


    color: rgba(31, 32, 65, 0.5);
}
.calendar__clean{
    cursor: pointer;
}
.calendar__apply{
    cursor: pointer;
}

