.dropdown{
   width: 320px;
   position: relative;
}

.dropdown__container{
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px $gray solid;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;

    padding-left: 15px;
    padding-bottom: 9px;
    padding-top: 8px;
    cursor: pointer;
    p{
        letter-spacing: 0.9px;
    }
    img{
        width: 12px;
        height: 8px;
        margin-right: 15px;
    }
}




.dropdown__choice{
    background-color: white;
    width: 318px;
    padding-top: 2px;
    // display: flex;
    border: 1px solid $gray;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    // position: absolute;
    top: 40px;
    left: 0px;
    z-index: -1;
}
.dropdown__choice-item{
    padding-top: 7px;
    // padding-right: 7px;
    padding-left: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    // width: 320px;
}
.dropdown__choice-item-buttons{
    display: flex;
    align-items: center;
}
.dropdown__choice-minus{

}
.dropdown__choice-plus, .dropdown__choice-minus{
    width: 28px;
    height: 28px;
    border-radius: 30px;

    border:1px solid $gray;

    display: flex;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
}
.dropdown__choice-minus--DEFAULT {
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25); 
}

.dropdown__choice-count {
    display: flex;
    align-items: center;
    margin-left: 11px;
    margin-right: 11px;

    font-weight: bold;

}
.dropdown__choice-buttons{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 7px;
}
.dropdown__choice-buttons-li{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 7px;
    margin-top: 15px;
    letter-spacing: 1.4px;
    padding-bottom: 8px;
}
.dropdown__clear, .dropdown__apply{
    cursor: pointer;
}
