.dropdown
    .dropdown__container
        p Сколько гостей
        img(src="./img/pointer.png", alt="pointer")
    .dropdown__choice
        .dropdown__choice-item
            h3 взрослые
                .dropdown__choice-minus -
                .count
                .dropdown__plus +
            h3 дети
                .dropdown__choice-minus -
                .count
                .dropdown__plus +
            h3 младенцы
                .dropdown__choice-minus -
                .count
                .dropdown__plus +
        .dropdown__apply применить