.dropdown
    .dropdown__container
        p Сколько гостей
        img(src="./img/pointer.png", alt="pointer")
    .dropdown__choice
        .dropdown__choice-item
            h3 взрослые
            .dropdown__choice-buttons
                .dropdown__choice-minus.dropdown__choice-minus--DEFAULT
                    p -
                .dropdown__choice-count 
                    p 0
                .dropdown__choice-plus 
                    p +
        .dropdown__choice-item
            h3 дети
            .dropdown__choice-buttons
                .dropdown__choice-minus.dropdown__choice-minus--DEFAULT
                    p -
                .dropdown__choice-count 
                    p 0
                .dropdown__choice-plus 
                    p +
        .dropdown__choice-item
            h3 младенцы
            .dropdown__choice-buttons
                .dropdown__choice-minus.dropdown__choice-minus--DEFAULT 
                    p -
                .dropdown__choice-count 
                    p 0
                .dropdown__choice-plus 
                    p +
        .dropdown__choice-buttons-li
            .dropdown__clear очистить
            .dropdown__apply применить