.menu
    ul.menu__ul
        li(class='menu__li menu__li-main') 
            a(href="#") Home
        li.menu__li 
            a(href="#") About Us
        li(class='menu__li menu__li-services') 
            a(href="#") Services
                img(src="./img/pointer.png", alt="pointer")
        li.menu__li.menu__li-careers 
            a(href="#") Careers
        li.menu__li.nuse 
            a(href="#") News
        li.menu__li
            a(href="#") Documentation
        