include ../../modules/head/head
include ../../modules/footer/footer
.Registration-page
    .Registration-page__conteiner
        include ../../modules/header/header
        .Registration-page__conteint
            .Registration-page__wrapper
                include ../../modules/registration/registration
    +footer()