.Registration-page{
  width: 100%;
}
.Registration-page__conteint{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
  background: url('../img/registration-background.png');
}
.Registration-page__wrapper{
  margin-top: 19px;
  margin-bottom: 19px;
}