.hotel-rent{
    box-sizing: border-box;
    width: 380px;
    padding: 40px 30px 30px;

    background-color: white;

    border-radius: 4px;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
.hotel-rent__content-title{
    display: flex;
    justify-content: space-between;
}
.hotel-rent__number{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 110px;
    margin: 0;

    text-align: end;
}
.hotel-rent__number-number{
    padding-bottom: 4px;
}
.hotel-rent__price {
    display: flex;
    justify-content: space-between;
    width: 100px;

    align-items: flex-end;


    &-count{
        letter-spacing: 0px;
    }
    &-text{
        font-size: 12px;
    }
}

.hotel-rent__date{
    margin-top: 20px;
}
.hotel-rent__date-titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.hotel-rent__date-title{
    width: 150px;
}
.hotel-rent__guests-black{
    margin-top: 21px;
    margin-bottom: 5px;
}
.hotel-rent__prices{
    margin-top: 20px;

    letter-spacing: 0.9px;
    line-height:20px;
}
.hotel-rent__prices-text{
    max-width: 220px;
}
.hotel-rent__prices-li{
    display: flex;
    justify-content: space-between;
}
.hotel-rent__prices-li:not(:first-child){
    margin-top: 13px;
    position: relative;
    .hotel-rent__prices-text::before{
        content: 'i';

        position: absolute;
        left: 220px;
        width: 20px;
        height: 20px;

        text-align: center;
        line-height: 20px;
        color:$gray;

        border:1px solid $gray;
        border-radius: 50%;
    }
}
.total-amount{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 18px;
}