.hotels
    h1 Найдём номера под ваши пожелания
    .hotels__arrival
        .hotels__date
            h3.hotels__date__descriptions прибытие
            h3.hotels__date__descriptions выезд
        include ../date/date      
        .hotels__guests
            h3 гости
            include ../dropdown-guests/dropdown-guests
        button.hotels__button
            p   подобрать номер
            img(src="./img/arrow.png", alt="arrow")
