.hotels
    h1 Найдём номера под ваши пожелания
    .hotels__arrival
        .hotels__date
            h3.hotels__date__descriptions прибытие
            include ../date/date
        .hotels__date
            h3.hotels__date__descriptions выезд
            include ../date/date
        .hotels__calendar
            include ../calendar/calendar
        .hotels__guests
            h3 гости
            .hotels__guests-count 
                p  Сколько гостей
                img(src="./img/pointer.png" alt="pointer")
        button.hotels__button
            p   подобрать номер
            img(src="./img/arrow.png", alt="arrow")
