.date
    .date__container
        .date__wrapper
            .date__input
                p.date__input-datepicker ДД.ММ.ГГГГ
                img.date__pointer(src="./img/pointer.png" alt="pointer")
        .date__wrapper
            .date__input
                input.date__input-datepicker(type="text" value = "ДД.ММ.ГГГГ") 
                img.date__pointer(src="./img/pointer.png" alt="pointer")
    .date__calendar
        include ../calendar/calendar