//-----------------------vars-------------------
$gray:rgba(31, 32, 65, 0.5);
$black:#1F2041;
//----------------------------------------------
html{
    background-color: #E5E5E5;
}

html,body,h1,h2,h3,h4,div,p,a,ul{
    margin: 0;
    padding: 0;
}
.space{
    min-height: 40px;
    max-width: 1160px;
    margin:auto;
}
li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}

h1{
    font-family: Quicksand,"Open Sans",Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing:1.3px;

    color: #1F2041;
}
h2{
    font-family: Quicksand,"Open Sans",Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0px;
    /* Dark 100% */

    color: #1F2041;
}
h3{
    font-family: Montserrat,"Open Sans",Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    

color: #1F2041;
}
//======================buttons===========================

//===================click-me================
.click-me{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    
    color: #BC9CFF;
    cursor: pointer;
}
.click-me:active{
    color: rgba(31, 32, 65, 0.5);
}
body{
    font-family: Montserrat,"Open Sans",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.5px;

    color: rgba(31, 32, 65, 0.75);
    background-color: #E5E5E5;
}

//#######################--=LIST=--
.bullet-list{
    width: 280px;
}
.bullet-list__li:not(:first-child){
    margin-top: 10px;
}
.bullet-list__li{
    padding-left: 20px;

    font-size: 14px;

    position: relative;
}
.bullet-list__li::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    left: 0px;
    top: 7px;

    background-color: $gray;

    border-radius: 50%;

}