.text-field-default
    h3 Text Field
    p.--shape Default
    input.text-field(type="email" placeholder="Email")
.text-field-focus
    h3 Text Field
    p.--shape Hover / Focus
    input.text-field(type="email" placeholder="Email" value="This is pretty awesome")
.container-dropdown
    h3 Dropdown
    p.--shape Default
    include ../modules/dropdown-guests/dropdown-guests
.space
.container-date
    include ../modules/date/date
.space
.container-filter-date-dropdown
    h3 filter date dropdown
    include ../modules/filter-date-dropdown/filter-date-dropdown

    

