head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

include ../modules/header/header
.empty
include ../modules/header_2/header_2
.empty
include ../modules/footer/footer
.empty
include ../modules/footer__2/footer__2