doctype html
html(lang="en")
a(href="./Cards.html") Cards
br
a(href="./HeadersFooters.html") HeadersFooters
br
a(href="./FormElements.html") FormElements
br
a(href="./ColorsType.html") Colors & Type
br
a(href="./LandingPage.html") Landing page
br
a(href="./search-room.html") Search Room
br
a(href="./RoomDetails.html") Room details