.comment{
    display:flex;
    flex-direction: column;
}
.comment__accoun-avatar{
    display: flex;
    width: 100%;
    margin-bottom: 9px;
}
.comment__account-container{

    margin-left: 11px;
}
.comment__name{
    font-weight: bold;
}
.comment__avatar{
    width: 46px;
    height: 46px;
    margin-top: 2px;

    border: 2px solid #FFF;
    border-radius: 50%;
    text-overflow: clip;
}
.comment__container{
    padding-left: 3px;
    display: flex;
}
.comment__text{
    max-width: 653px;
    margin-left: 15px;


    letter-spacing: 1px;
}
.comment__like{
    margin-top: 4px;
}
