.filter-date-dropdown
    p.filter-date-dropdown__text 19 авг - 23 авг
    img(src="./img/pointer.png", alt="pointer").filter-date-dropdown__img-pointer
    .filter-date-dropdown__calendar
        include ../calendar/calendar