mixin button(text,background,img)
  if(background)
    button.button.button--with-background
      p.text=text
      if(img!=undefined)
        include ../../img/arrow.svg
  else
    button.button
      p.text=text
      if(img!=undefined)
        include ../../img/arrow.svg