include ../../modules/head/head
.LandingPage
    .LandingPage__conteiner
        include ../../modules/header/header
        .LandingPage__conteint
            .LandingPage__conteint-conteiner
                include ../../modules/hotels/hotels
            .LandingPage__description
                p.LandingPage__description-text Лучшие номера для вашей работы, отдыха и просто вдохновения
    include ../../modules/footer/footer