include ../dropdown/dropdown

.dropdown-guests
    .dropdown-guests__container
        p.dropdown-guests__text Сколько гостей
        img(src="./img/pointer.png", alt="pointer")
    .dropdown-guests_dropdown-conteiner
        +dropdown(['взрослые','дети','младенцы'])