.dropdown-guests{
    width: 320px;
 }
 
 .dropdown-guests__container{
     background-color: white;
     
     display: flex;
     justify-content: space-between;
     align-items: center;
     border:1px $gray solid;
     border-top-left-radius:4px;
     border-top-right-radius: 4px;
 
     padding-left: 15px;
     padding-bottom: 9px;
     padding-top: 8px;
     cursor: pointer;
     p{
         letter-spacing: 0.9px;
     }
     img{
         width: 12px;
         height: 8px;
         margin-right: 15px;
     }
 }
