
header
  .header
    .header__container
     .header__main-menu 
      a(href="#").header__container__logo
        img(src="./img/Logo.svg", alt="logo")
      nav.header__menu
        include ../menu/menu
      .header__buttons
        div.header__login
          a(href="#") LOGIN
        div.header__register
          a(href="#") REGISTER