header
  .header
    .header__container
     .header__main-menu 
      .header__container__logo
        img(src="./img/Logo.png", alt="img")
      .header__menu
        include ../menu/menu
      .header__buttons
        div.button.header__login
          a(href="#") LOGIN
        div.button.header__register
          a(href="#") REGISTER