footer{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    color: $gray;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;

    font-size: 14px;
    line-height: 24px;
    padding-top: 100px;
    
    min-width: 600px;
}
.footer__container{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.footer__sec-1{
    width: 260px;
    color: $black;
}
.footer__sec-1__logo {
    img{
        margin-bottom: 20px;
    }
    @media (max-width:1030px) {
        order: 1;
        margin-right: 100px;
    }
    
}
.footer__sec-2{
    
    width: 161px;
    @media (max-width:1030px) {
        order: 3;
        margin-right: 20%;
    }
    @media (max-width:654px){
        margin-right: 0px;
    }
}
.footer__sec-3{
    width: 163px;
    @media (max-width:1030px) {
        order: 4;
    }
}
.footer__sec-4{
    width: 162px;
    @media (max-width:1030px) {
        order: 5;
    }
}
.footer__sec-5{
    margin-right: 1px;
    width: 260px;
    .container-subscription-text-field{
        margin-top: 20px;
    }
    p{
        color: $black;
    }
    @media (max-width:1030px) {
        order:2;
        margin-left:20%;
    }
    @media (max-width:654px){
        margin-left: 0;
    }
}
.footer__mini-menu__li{
    margin-bottom: 14px;
    a{
        color: $gray;
    }
}
.footer__copyright{
    width: 100%;
    border-top: 1px solid $gray;
}
.footer__copyright__container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 26px;
}

//mods
.footer__mini-menu__li--main{
    padding-bottom: 5px;
    padding-top: 6px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    a{
        color: $black;
    }
}
