.messengers
    a.messengers__twitter(href="#")
        img(src="./img/twitter.svg", alt="twitter")
    a.messengers__facebook(href="#")
        img(src="./img/facebook.svg", alt="facebook")
    a.messengers__instagram(href="#")
        img(src="./img/instagram.svg", alt="instagram")