.messengers
    a.messengers__twitter(href="#")
        img(src="./img/twitter.png", alt="twitter")
    a.messengers__facebook(href="#")
        img(src="./img/facebook.png", alt="facebook")
    a.messengers__instagram(href="#")
        img(src="./img/instagram.png", alt="instagram")