
html,body,h1,h2,h3,h4,div,p,a,ul{
    margin: 0;
    padding: 0;
}
.space{
    min-height: 40px;
    max-width: 1160px;
    margin:auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-family: Quicksand,"Open Sans",Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing:1.3px;

    color: #1F2041;
}
h2{
    font-family: Quicksand,"Open Sans",Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0px;
    /* Dark 100% */

    color: #1F2041;
}
h3{
    font-family: Montserrat,Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    

color: #1F2041;
}
button{
    border: none;
    text-align: center;
    text-transform: uppercase;

    width: 150px;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 18px;
    margin-bottom: 28px;

    border-radius: 22px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;

    margin-top: 31px;
    text-align: center;
    p{
        width: 100%;
        padding-left: 9.5px;
    }
    img{
        padding-right: 6px;
    }
}
body{
    font-family: Montserrat,"Open Sans",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.5px;

    color: rgba(31, 32, 65, 0.75);
}



//vars
$gray:rgba(31, 32, 65, 0.5);
$black:#1F2041;


@import url('./fonts/fonts.scss');
@import "./modules/header/header";
@import "./modules/menu/menu";
@import "./modules/header_2/header_2";
@import "./modules/footer/footer";
@import "./modules/messengers/messengers";
@import "./modules/footer__2/footer__2";
@import "./modules/hotels/hotels";
@import "./modules/date/date";
@import "./modules/registration/registration";
@import "./modules/road/road";
@import "./pages/Cards.scss";
@import "./pages/FormElements.scss";
@import "./modules/dropdown/dropdown";
@import "./modules/filter-date-dropdown/filter-date-dropdown";
@import "./modules/calendar/calendar";
@import "./modules/dropdown-guests/dropdown-guests";






