head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body.cards
    .cards__container
        include ../../modules/hotels/hotels
        .space
        include ../../modules/registration/registration
    .cards__container
        include ../../modules/road/road