.footer-2
    .footer-2__container
        a(href="#").footer-2__logo
            img(src="./img/Logo.svg", alt="logo")
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        include ../messengers/messengers